<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12 controls">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p><label>Control Name</label></p>
			<input class="form-control" placeholder="Control Name" [(ngModel)]="control.controlName">
    </div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p><label>Control Type</label></p>
				<select placeholder="Control Type" class="form-control" [(ngModel)]="control.control">
        <option *ngFor="let type of controlTypes">{{type}}</option>
      </select>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="control.control == 'input'">
				<p><label>Input Type</label></p>
				<select placeholder="Input Type" class="form-control" [(ngModel)]="control.type">
        <option *ngFor="let type of inputTypes">{{type}}</option>
      </select>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<!-- <div *ngIf="control.type == 'text' || control.type='passwrd' ||control.type == 'email' || control.type =='number'">
           <input >
         </div> -->
				<p><label>Default Value</label></p>
				<input [attr.type]="control.type" [(ngModel)]="control.defaultValue" class="form-control">
    </div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<p><label>Placeholder</label></p>
					<input placeholder="Placeholder" class="form-control" [(ngModel)]="control.placeholder">
    </div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<p><label>Disabled</label></p>
						<select placeholder="Is Disabled" class="form-control" [(ngModel)]="control.disabled">
        <option [value]="true">True</option>
        <option [value]="false">False</option>
      </select>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="control.control == 'select'">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 padding0">
								<div class="col-md-6 col-sm-6 col-xs-12 padding-l0">
									<p><label>Key Property</label></p>
									<input type="text" [(ngModel)]="control.optionId" class="form-control m-2" placeholder="Key Property">
								</div>
									<div class="col-md-6 col-sm-6 col-xs-12 padding-r0">
										<p><label>Value Property</label></p>
										<input type="text" [(ngModel)]="control.optionProperty" class="form-control m-2" placeholder="Value Property">
								</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 padding0">
										<div class="col-md-6 col-sm-6 col-xs-12 padding-l0">
											<p><label>[{{control.optionId}}]</label></p>
											<input type="text" [(ngModel)]="tempObj[control.optionId]" class="form-control m-2" placeholder="Key Property">
								</div>
											<div class="col-md-6 col-sm-6 col-xs-12 padding-r0">
												<p><label>[{{control.optionProperty}}]</label></p>
												<input type="text" [(ngModel)]="tempObj[control.optionProperty]" class="form-control m-2" placeholder="Value Property">
								</div>
											</div>
											<div class="col-md-12 col-sm-12 col-xs-12 text-center">
												<button class="btn btn-primary" (click)="control.options.push(tempObj);tempObj = {};">Add</button>
											</div>
										</div>
										<div></div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<p>Preview</p>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<ul class="nav nav-tabs">
											<li (click)="activeTab = 1" [attr.class]="{'active':activeTab == 1}"><a
													href="#">JSON</a></li>
											<li (click)="activeTab = 2" [attr.class]="{'active':activeTab == 2}"><a
													href="#">Table</a></li>
										</ul>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="activeTab == 1">
										<pre>
			         {{control|json}}
             </pre>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" *ngIf="activeTab == 2">
										<table class="table table-bordered">
											<thead>
												<tr align="center">
													<th rowspan="3">controlName</th>
													<th rowspan="3">control</th>
													<th rowspan="3">type</th>
													<th rowspan="3">placeholder</th>
													<th rowspan="3">defaultValue</th>
													<th rowspan="3">disabled</th>
													<th rowspan="3">options</th>
													<th rowspan="3">optionId</th>
													<th rowspan="3">optionProperty</th>
													<th colspan="3">validators</th>
													<th colspan="4">style</th>
												</tr>
												<tr>
													<th rowspan="3">required</th>
													<th rowspan="3">pattern</th>
													<th rowspan="3">validator</th>
													<th colspan="2">parent</th>
													<th colspan="2">self</th>
												</tr>
												<tr>
													<th>innerStyle</th>
													<th>cssClass</th>
													<th>innerStyle</th>
													<th>cssClass</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>